* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 { margin: 0.5rem 0; }
p { margin: 0.5rem 0; }
a { color: #44C; text-decoration: none; }

.card {
    background: #DDF;
    border-radius: 15px;
    padding: 15px;
}

.card-button:hover {
    background: #CCF;
    cursor: pointer;
}
